.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--gray-bg);
    position: relative;
    padding-top: 300px;
}

.main video {
    box-shadow: 0 0 300px 10px var(--gray-bg);
}

.main .title {
    color: #0E1116;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.8px;
    opacity: 0;
    position: absolute;
    top: -9999px;
    transition: opacity 0.2s;
}

.main .title.place-up {
    display: block;
    opacity: 0;
    left: auto;
    top: 10%;
    animation: place-up 2s ease 1 both;
}

@keyframes place-up {
    0% {
        display: none;
        position: absolute;
        top: 0;
    }
    1% {
        display: block;
        position: absolute;
        top: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 1400px) {
    .main .title {
        font-size: 60px;
    }
    .main {
        padding-top: 230px;
    }
}
@media (max-width: 1200px) {
    .main video {
        width: 1000px;
    }
}
